#python stuff
*.py[cod]
__pycache__/
# pycharm + jetbrains stuff
.idea/
# vscode stuff
.vscode/
# macOS stuff
.DS_Store
# windows stuff
Thumbs.db
# linux stuff
*~
# logs
*.log
# pickle files
*.pkl
# egg info directories
*.egg-info/
# distribution directories
dist/
# build directories
build/
